<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>自动应答设置</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">

  <link rel="stylesheet" href="layuiadmin/json/css/style.css">
  <script type="text/javascript" src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>

  <script rel="stylesheet" type="text/javascript" src="plugins/angularjs/angular.js"></script>
  <script rel="stylesheet" type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
  <!-- 分页组件开始 -->
  <script type="text/javascript" src="/plugins/angularjs/pagination.js"></script>
  <link rel="stylesheet" href="/plugins/angularjs/pagination.css">
  <!-- 分页组件结束 -->


  <script type="text/javascript" src="/js/base.js">  </script>
  <script type="text/javascript" src="/service/dialogueService.js">  </script>
  <script type="text/javascript" src="/controller/baseController.js">  </script>
  <script type="text/javascript" src="/controller/dialogueController.js">  </script>


  <style type="text/css">
    #loading{z-index:1;padding:5px 0 5px 29px;
      background:url(image/loading.gif) no-repeat 10px top;left:0;top:0;width:90px;
      position:fixed; height:21px}
  </style>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="sn" ng-controller="dialogueController" ng-init="Search()" >
<!-- .box-body -->
<div class="box-header with-border">
  <h3 class="box-title">自动应答设置</h3>
</div>



<div class="box-body">

  <!-- 数据表格 -->
  <div class="table-box">

    <!--工具栏-->
    <div class="pull-left">
      <div class="form-group form-inline">
        <div class="btn-group">
          <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                  data-target="#edtModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建
          </button>
          <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
          <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
          <button type="button" class="btn btn-default" title="数据同步" ng-click="updateSolr()"><i class="fa fa-refresh"></i> 数据同步</button>
        </div>
      </div>
    </div>



    <div class="box-tools pull-right">
      <div class="has-feedback">
      </div>
    </div>


    <!--工具栏/-->
    <div id="loadingDiv"   style="display:  none; ">

      <div id="over" align="center" style="position: absolute; width: 100%;height: 100%; background-color: #f5f5f5;opacity:0.5;z-index: 1000;">

      </div>
      <div id="layout" align="center" style="position: absolute;top: 40%;width: 100%; height: 50%;">
        <img src="/image/loading01.gif" />
      </div>
    </div>
    <!--数据列表-->
    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
      <thead>
      <tr>
        <th class="" style="padding-right:0px">
          <input  type="checkbox" id="checkall" class="icheckbox_square-blue" ng-click="chooseAll()" name="checkname" >
        </th>
        <th class="sorting">序号</th>
        <th class="sorting">问题</th>
        <th class="sorting">回答内容</th>
        <th class="sorting">数据状态</th>
        <th class="sorting">创建时间</th>
        <th class="sorting">修改时间</th>
        <th class="text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="entity in list">
        <td><input  type="checkbox" name="checkname"  ng-click="updateSelection($event,entity.qadId)"></td>
        <td>{{entity.qadId}}</td>
        <td>{{entity.qadTitle}}</td>
        <td>{{entity.qadContent}}</td>
        <td>{{entity.qadState==1?"有效":"无效"}}</td>
        <td >{{entity.qadCreatetime}}</td>
        <td>{{entity.qadUpdatetime}}</td>

        <td class="text-center">
          <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.qadId)" >修改</button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--数据列表/-->
  </div>
  <!-- 数据表格 /-->
  <!-- 分页 -->
  <tm-pagination conf="paginationConf"></tm-pagination>
</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">编辑</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped"  width="800px">



          <tr>

            <td>问题</td>

            <td><input  class="form-control" type="text" ng-model="entity.qadTitle" placeholder="" ></td>

          </tr>
          <tr>

            <td>回答内容</td>
            <td>

              <textarea ng-model="entity.qadContent" class="form-control" rows="3"></textarea></td>



          </tr>


          <tr>

            <td>修改时间</td>

            <td><input  pattern="yyyy-MM-dd"  class="form-control" type="date" ng-model="entity.qadUpdatetime" placeholder="" ></td>

          </tr>
          <tr>

            <td>状态</td>


            <td >
              <label>
                <select id="name">

                </select>
              </label>
            </td>


          </tr>

        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabe">新增</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped"  width="800px">


          <tr>

            <td>问题</td>

            <td><input  class="form-control" type="text" ng-model="entity.qadTitle" placeholder="" ></td>

          </tr>
          <tr>

            <td>回答内容</td>
            <td><textarea ng-model="entity.qadContent" class="form-control" rows="3"></textarea></td>



          </tr>

          <tr>

            <td>创建时间</td>

            <td><input   class="form-control" type="date"  ng-model="entity.qadCreatetime" placeholder=""   >

          </tr>
          <tr>

            <td>修改时间</td>

            <td><input    type="date"   class="form-control"   ng-model="entity.qadUpdatetime" placeholder="" ></td>

          </tr>
          <tr>

            <td>状态</td>
            <td>
              <label>
                <select id="status">
                  <option  value="0">有效</option>
                  <option  value="1">无效</option>
                </select>

              </label>


            </td>

          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>





<script>

    Date.prototype.format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    }




</script>

</body>
</html>
