<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>管理</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../layuiadmin/json/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../layuiadmin/json/plugins/adminLTE/css/AdminLTE.css">
  <link rel="stylesheet" href="../../layuiadmin/json/plugins/adminLTE/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../layuiadmin/json/css/style.css">
  <script src="../../layuiadmin/json/plugins/jQuery/jquery-2.2.3.js"></script>
  <script src="../../layuiadmin/json/plugins/bootstrap/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../../layuiadmin/json/plugins/angularjs/angular.min.js">  </script>
  <!-- 分页组件开始 -->
  <script src="../../layuiadmin/json/plugins/angularjs/pagination.js"></script>
  <link rel="stylesheet" href="../../layuiadmin/json/plugins/angularjs/pagination.css">
  <!-- 分页组件结束 -->


  <script type="text/javascript" src="/js/base_pagination.js">  </script>
  <script type="text/javascript" src="/service/dialogueService.js">  </script>
  <script type="text/javascript" src="/controller/baseController.js">  </script>
  <script type="text/javascript" src="/controller/dialogueController.js">  </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="sn" ng-controller="dialogueController" ng-init="findAll()" >
<!-- .box-body -->
<div class="box-header with-border">
  <h3 class="box-title">管理</h3>
</div>

<div class="box-body">

  <!-- 数据表格 -->
  <div class="table-box">

    <!--工具栏-->
    <div class="pull-left">
      <div class="form-group form-inline">
        <div class="btn-group">
          <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建</button>
          <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
          <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
        </div>
      </div>
    </div>
    <div class="box-tools pull-right">
      <div class="has-feedback">
      </div>
    </div>
    <!--工具栏/-->

    <!--数据列表-->
    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
      <thead>
      <tr>
        <th class="" style="padding-right:0px">
          <input id="selall" type="checkbox" class="icheckbox_square-blue">
        </th>
        <th class="sorting">序号</th>
        <th class="sorting">问题</th>
        <th class="sorting">回答内容</th>
        <th class="sorting">数据状态</th>
        <th class="sorting">创建时间</th>
        <th class="sorting">修改时间</th>
        <th class="text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="entity in list">
        <td><input  type="checkbox" ng-click="updateSelection($event,entity.qad_Id)"></td>
        <td>{{entity.qadId}}</td>
        <td>{{entity.qadTitle}}</td>
        <td>{{entity.qadContent}}</td>
        <td>{{entity.qadState}}</td>
        <td>{{entity.qadCreatetime}}</td>
        <td>{{entity.qadUpdatetime}}</td>

        <td class="text-center">
          <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.qad_Id)" >修改</button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--数据列表/-->
  </div>
  <!-- 数据表格 /-->
  <!-- 分页 -->
  <tm-pagination conf="paginationConf"></tm-pagination>
</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">编辑</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped"  width="800px">
          <tr>

            <td>序号</td>

            <td><input  class="form-control" ng-model="entity.qadTitle" placeholder="" ></td>

          </tr>
          <tr>

            <td>创建时间</td>

            <td><input  class="form-control" ng-model="entity.qadCreatetime" placeholder="" ></td>

          </tr>
          <tr>

            <td>问题</td>

            <td><input  class="form-control" type="text" ng-model="entity.qadContent" placeholder="" ></td>

          </tr>
          <tr>

            <td>回答内容</td>
            <td><textarea  ng-model="entity.qadContent"   rows="10" cols="70" ></textarea></td>



          </tr>
          <tr>

            <td>修改时间</td>

            <td><input  class="form-control" ng-model="entity.qadUpdatetime" placeholder="" ></td>

          </tr>

        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
